<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyOrder - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/loginbox.css') }}">
</head>
<body>
    <form id="loginbox" action="/login" method="POST">
        <h2>TinyOrder - Login</h2>
        {% if error %}
            <p class="error">{{ error }}</p>
		{% elif success %}
			<p class="success">{{ success }}</p>
        {% else %}
            &nbsp;
        {% endif %}
        <label for="username">Benutzername:</label>
        <input type="text" id="username" placeholder="max.mustermann@email.de" name="username" required>
        <br>
        <label for="password">Passwort:</label>
        <input type="password" id="password" placeholder="********" name="password" required>
        <br>
		<a href="/register">Registrieren</a>
        <button type="submit">Login</button>
    </form>
</body>
</html>
